<div id="<%= dom_id job_application %>">
  <div>
    <strong>Company name:</strong>
    <%= job_application.company_name %>
  </div>

  <div>
    <strong>Role title:</strong>
    <%= job_application.role_title %>
  </div>

  <div>
    <strong>Job url:</strong>
    <%= job_application.job_url %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= job_application.status %>
  </div>

  <div>
    <strong>Applied date:</strong>
    <%= job_application.applied_date %>
  </div>

  <div>
    <strong>Follow up date:</strong>
    <%= job_application.follow_up_date %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= job_application.notes %>
  </div>

</div>
